@model EcommerceProject.Models.User

@{
    ViewData["Title"] = "ViewProfile";
}

<h1>ViewProfile</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_roleid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_roleid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("EditProfile", "EditProfile", new {  id = Model.u_id }) |
    <a asp-action="Index">Back to List</a>
</div>
